table,td,th{
    text-align: center;
    border: 1px solid black ;
    border-collapse: collapse;
    padding: 5px;
}
h1{
    text-align: center;
}
th{
    background-color: red;
    color: white;
}
.gb>td{
    background-color: gray;
    font-size: 30px
}
#lista{
    color: red;
}
#hora{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: yellow;
}
img{
    width: 50px;
}
.cols{
    background-color: blue;
}